<div class="">
    <div class="">
        <h3>Tasks</h3>
        <div class="">In Progress Completed</div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" aria-label="Select task" /> Design Wireframe
                    </label>
                </td>
                <td>
                    In Progress
                </td>
                <td>
                    2024-12-15
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" aria-label="Select task" checked/> Develop Frontend
                    </label>
                </td>
                <td>
                    Completed
                </td>
                <td>
                    2024-08-11
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" aria-label="Select task" /> Develop Backend
                    </label>
                </td>
                <td>
                    In Progress
                </td>
                <td>
                    2024-12-13
                </td>
            </tr>
        </tbody>
    </table>
</div>
